{%extends 'index.html' %}

{%block content%}
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Transactions</h4>
                <span>Your trading records are all here</span>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <a  href="{{ url_for("transactions.uploadTransactions") }}" style="width: 20%" class="btn btn-primary btn-block" >Upload</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Transaction Details</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th><strong>ID</strong></th>
                                <th><strong>CUSTOMER NAME</strong></th>
                                <th><strong>EMAIL</strong></th>
                                <th><strong>QTY.</strong></th>
                                <th><strong>BARCODE</strong></th>
                                <th><strong>PRODUCT NAME</strong></th>
                                <th><strong>BAG SIZE</strong></th>
                                <th><strong>SELLING PRICE</strong></th>
                                <th><strong>PROFITS</strong></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in transactions %}
                            <tr>
                                <td><strong>{{ i[0] }}</strong></td>
                                <td>{{ i[1] }}</td>
                                <td>{{ i[7] }}</td>
                                <td>{{ i[8] }}</td>
                                <td>{{ i[9] }}</td>
                                <td>{{ i[10] }}</td>
                                <td>{{ i[11] }}</td>
                                <td>$ {{ i[12] }}</td>
                                <td>$ {{ i[13] }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-success light sharp" data-toggle="dropdown">
                                            <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ url_for('transactions.edit_transactions', transactions_id=i[0]) }}">Edit</a>
                                            <a class="dropdown-item" href="{{ url_for('transactions.del_transactions', transactions_id=i[0]) }}">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}